{% extends "layout.html" %}
{% block content %}
    <form class="analyze" method="GET" action="{{ action }}" >
        <label for="word_input">ניתוח פעלים</label>
        <br>
        <input class="analyze" id="word_input" name="verb" value="{{ verb }}"/>
        <input class="analyze" type="submit" value="נתח"/>
    </form>
    <div>
    <table>
      <thead>
        <tr>
            {% for x in header %}
                <th>{{ x }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for token in tokens %}
        <tr>
             {% for x in token %}
                <td>{{ x }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}