<html>
    <head>
        <title>תיוג שורשים ובניינים</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body dir="rtl">
        <h1>תיוג שורשים ובניינים</h1>
        <p><a href="{{ sent_id }}">{{ sent_id }}</a>: {{ text }}</p>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>מילה</th>
              <th>חלק דיבר</th>
              <th>בניין</th>
              <th>שורש</th>
            </tr>
          </thead>
          <tbody>
        {% for id, word, pos, _ in lines %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ word }}</td>
                <td>{{ translate(pos) }} </td>
                <td>
                {% if pos == 'VERB' %}
                    <select name="verb" id="verb_{{id}}" required="true">
                        <option></option>
                        {% for binyan, heb_binyan in binyanim.items() %}
                        <option value="{{ binyan }}">{{ heb_binyan }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </td>
                <td>
                {% if pos == 'VERB' %}
                    <label>
                        <input type="text" size="4" maxlength="4"/>
                    </label>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </body>
</html>